@import 'variables'

@mixin d-flex
    display: flex
    gap: 30px

@mixin content-align
    justify-content: space-between
    padding: 0 30px
    align-items: center
    margin-top: 30px

@mixin a-style
    text-decoration: none
    color: #fff

@mixin title
    font-family: 'Raleway', sans-serif
    text-align: center
    font-size: 34px
    color: #fff
    font-weight: bold
    margin-bottom: 15px

@mixin subtitle
    text-align: center
    font-size: 16px
    color: #fff
    margin: 15px
    padding: 0

@mixin btn
    background-color: $btn-color
    font-size: 18px
    color: $bg-background
    padding: 20px 80px
    border: none
    border-radius: 115px
    &:hover
        font-weight: bold

@mixin card-profile
    width: 400px
    height: 200px
    display: flex
    justify-content: space-around
    gap: 20px
    background-color: #202A3C
    flex-direction: column
    padding: 30px

@mixin input
    width: 800px
    padding: 30px
