@import 'variables'
@import 'reset'
@import 'mixins'
@import 'mediaQueries'


body
    background-color: $bg-background
    font-family: $font-text
    position: relative
    // @include d(m)
    //     background-color: pink !important
    // @include d(l)
    //     background-color: aqua !important
    // @include d(s)
    //     background-color: black !important

.header
    @include d-flex
    @include content-align    
    &-nav
        ul
            @include d-flex
            animation: .6s

            a
             @include a-style
             &:hover
                font-weight: bold

.section
    @include d-flex
    flex-direction: column
    align-items: center
    background-image: url('../images/bg-curvy-desktop.svg')
    background-repeat: no-repeat
    background-position: bottom

    &-img 
        max-width: 600px
    &-title
        @include title
    &-subtitle
        @include subtitle
        width: 70%
    &-btn
        @include btn    

.section2
    background-color: $bg-background-secundary
    @include d-flex
    flex-wrap: wrap
    justify-content: center

    &-card
        @include d-flex
        flex-direction: column
        align-items: center
        padding: 88px
        h4
            @include title
            font-size: 42px
        p
            @include subtitle
        &-img
         max-width: 100px

.section3
    @include d-flex
    align-items: center
    background-color: $bg-background-secundary
    padding: 30px 60px

    &-content
        h2
            @include title
            text-align: left
            margin-bottom: 10px
            font-size: 42px
            font-weight: bold
        p
            @include subtitle
            text-align: left
            margin: 0
            margin-bottom: 10px 
        a
            @include subtitle
            margin: 0
            color: $btn-color
            border-bottom: 1px solid $btn-color
            padding: 2px 0

    &-img
        max-width: 600px

.section4
    background-color: $bg-background-secundary
    @include d-flex
    flex-wrap: wrap
    justify-content: center
    gap: 15px
    padding: 250px 20px

    &-card
        @include card-profile  
        &:hover
            -webkit-transform: scale3d(1.05, 1.05, 1.05)
            transform: scale3d(1.05, 1.05, 1.05)
        
        &-text   
            color: #fff
            font-size: 14px
        &-perfil
            @include d-flex
            align-items: center
            h4
                @include title
                font-size: 20px
                margin: 0
            
            p
                @include subtitle
                margin: 0

            &-img
                width: 50px
                border-radius: 50%
.section5
    background-color: $bg-background-secundary

    &-card
        @include d-flex
        flex-direction: column
        align-items: center
        background-color: #131824
        width: 800px
        margin: auto
        padding: 80px
        border-radius: 10px
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
        position: absolute
        bottom: 109px
        right: 224px

        h1
            @include title
        
        p
            @include subtitle

        &-input
            @include input
            position: relative
        
        label 
            position: absolute

.footer

    background-color: #090b10
    height: 200px


     